{
    "extends": [
        "@tada5hi/eslint-config-vue-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "extraFileExtensions": [".vue"]
    },
    "ignorePatterns": ["**/dist/*"],
    "globals": {
        "NodeJS": true
    },
    "rules": {
        "class-methods-use-this": "off",
        "dot-notation": "off",
        "import/no-extraneous-dependencies": [
            "error", {
                "devDependencies": [
                    "**/test/**/*.js",
                    "**/test/**/*.ts",
                    "**/test/**/*.spec.js",
                    "**/test/**/*.spec.ts",
                    "**/rollup.config.mjs",
                    "packages/client-web/**",
                    "packages/client-web-kit/**",
                    "packages/client-web-slim/**",
                    "packages/server-core/client/**"
                ]
            }
        ],
        "import/no-relative-packages": "off",
        "no-useless-constructor": "off",
        "no-empty-function": "off",
        "no-use-before-define": "off",
        "no-underscore-dangle": "off",
        "no-shadow": "off",
        "no-constant-condition": "off",
        "import/extensions": "off",

        "@typescript-eslint/no-throw-literal": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-this-alias": "off"
    }
}
