{
    "extends": [
        "@tada5hi/eslint-config-vue-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "extraFileExtensions": [".vue"]
    },
    "ignorePatterns": ["**/dist/*"],
    "globals": {
        "NodeJS": true
    },
    "rules": {
        "class-methods-use-this": "off",
        "dot-notation": "off",
        "no-use-before-define": "off",
        "no-underscore-dangle": "off",
        "no-shadow": "off",

        "@typescript-eslint/no-throw-literal": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-this-alias": "off"
    }
}
