.claude/settings.local.json
.DS_Store
dist
node_modules
*.log
npm-debug.log*
.idea
.env
.nuxt
.output
.temp
.swc
authup.yml
authup.yaml
!**/test/**/authup.yml
!**/test/**/authup.yaml
.vitepress/cache
.nx
coverage
.agents/plans
ds-bundle/
