# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [develop, master, next, beta, alpha]
    pull_request:
        types: [ opened, synchronize ]

env:
    NODE_VERSION: 18
    NODE_REGISTRY: 'https://registry.npmjs.org'

permissions:
    packages: write
    contents: write
    issues: write
    pull-requests: write

defaults:
    run:
        shell: bash

jobs:
    install:
        name: Checkout and Install
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  node-registry: ${{ env.NODE_REGISTRY }}

    build:
        name: Build Packages
        needs: [install]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  node-registry: ${{ env.NODE_REGISTRY }}

            - name: Build
              uses: ./.github/actions/build

    lint:
        name: lint Packages
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}
                    node-registry: ${{ env.NODE_REGISTRY }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Lint
                run: |
                    npm run lint

    tests:
        name: Test Packages
        needs: [build]
        runs-on: ubuntu-latest
        strategy:
            matrix:
                package: [
                    'server-adapter',
                    'server-core',
                    'server-api',
                    'core'
                ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 2

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}
                    node-registry: ${{ env.NODE_REGISTRY }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Run tests
                run: |
                    npm run test --workspace=packages/${{matrix.package}} --if-present

    release:
        name: Release
        if: |
            !startsWith(github.event.head_commit.message , 'chore(release):') &&
            github.event_name == 'push' &&
            github.ref_name != 'develop'
        needs: [build, tests]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}
                    node-registry: ${{ env.NODE_REGISTRY }}

            -   name: Publish
                env:
                    GH_TOKEN: ${{ secrets.GH_PAT }}
                    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                run: |
                    git config user.name "${{ github.actor }}"
                    git config user.email "${{ github.actor}}@users.noreply.github.com"

                    if [ ${{ github.ref_name }} = master ]; then
                      npx lerna version --conventional-commits --conventional-graduate --yes
                    else
                      npx lerna version --conventional-commits --conventional-prerelease --preid ${{ github.ref_name }} --yes
                    fi

                    npx lerna publish from-git --yes
