# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [develop, master, next, beta, alpha]
    pull_request:
        types: [ opened, synchronize ]

env:
    NODE_VERSION: 22
    NODE_REGISTRY: 'https://registry.npmjs.org'

permissions:
    packages: write
    contents: write
    issues: write
    pull-requests: write

defaults:
    run:
        shell: bash

jobs:
    install:
        name: Checkout and Install
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  node-registry: ${{ env.NODE_REGISTRY }}

    build:
        name: Build Packages
        needs: [install]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  node-registry: ${{ env.NODE_REGISTRY }}

            - name: Build
              uses: ./.github/actions/build

    lint:
        name: lint Packages
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}
                    node-registry: ${{ env.NODE_REGISTRY }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Lint
                run: |
                    npm run lint

    tests:
        name: Test Packages
        needs: [build]
        runs-on: ubuntu-latest

        strategy:
            matrix:
                db: [ mysql, postgres, sqlite ]

        services:
            mysql:
                image: mysql:9
                env:
                    MYSQL_ROOT_PASSWORD: start123
                ports:
                    - 3306:3306
                options: >-
                    --health-cmd="mysqladmin ping -h localhost -pstart123"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=5

            postgres:
                image: postgres:18
                env:
                    POSTGRES_DB: app
                    POSTGRES_PASSWORD: start123
                ports:
                    - 5432:5432
                options: >-
                    --health-cmd="pg_isready -U postgres"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=5

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}
                    node-registry: ${{ env.NODE_REGISTRY }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Set DB Environment
                run: |
                    if [ "${{ matrix.db }}" = "sqlite" ]; then
                        echo "DB_TYPE=better-sqlite3" >> $GITHUB_ENV
                        echo "DB_DATABASE=:memory:" >> $GITHUB_ENV

                    elif [ "${{ matrix.db }}" = "mysql" ]; then
                        echo "DB_TYPE=mysql" >> $GITHUB_ENV
                        echo "DB_HOST=127.0.0.1" >> $GITHUB_ENV
                        echo "DB_PORT=3306" >> $GITHUB_ENV
                        echo "DB_USERNAME=root" >> $GITHUB_ENV
                        echo "DB_PASSWORD=start123" >> $GITHUB_ENV
                        echo "DB_DATABASE=app" >> $GITHUB_ENV
                    else
                        echo "DB_TYPE=postgres" >> $GITHUB_ENV
                        echo "DB_HOST=127.0.0.1" >> $GITHUB_ENV
                        echo "DB_PORT=5432" >> $GITHUB_ENV
                        echo "DB_USERNAME=postgres" >> $GITHUB_ENV
                        echo "DB_PASSWORD=start123" >> $GITHUB_ENV
                        echo "DB_DATABASE=app" >> $GITHUB_ENV
                    fi

            -   name: Run tests
                env:
                    NODE_ENV: test
                run: |
                    npm run test
