# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [develop, master, next, beta, alpha]
    pull_request:
        types: [ opened, synchronize ]

env:
    NODE_VERSION: 20
    NODE_REGISTRY: 'https://registry.npmjs.org'

permissions:
    packages: write
    contents: write
    issues: write
    pull-requests: write

defaults:
    run:
        shell: bash

jobs:
    install:
        name: Checkout and Install
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  node-registry: ${{ env.NODE_REGISTRY }}

    build:
        name: Build Packages
        needs: [install]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  node-registry: ${{ env.NODE_REGISTRY }}

            - name: Build
              uses: ./.github/actions/build

    lint:
        name: lint Packages
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}
                    node-registry: ${{ env.NODE_REGISTRY }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Lint
                run: |
                    npm run lint

    tests:
        name: Test Packages
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: "2"

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}
                    node-registry: ${{ env.NODE_REGISTRY }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Run tests
                run: |
                    npm run test
