# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches:
            - '**'
    pull_request:
        types: [ opened, synchronize ]

env:
    PRIMARY_NODE_VERSION: 18

defaults:
    run:
        shell: bash

jobs:
    install:
        name: Checkout and Install
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.PRIMARY_NODE_VERSION }}

    build:
        name: Build Packages
        needs: [install]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.PRIMARY_NODE_VERSION }}

            - name: Build
              uses: ./.github/actions/build

    lint:
        name: lint Packages
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.PRIMARY_NODE_VERSION }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Lint
                run: |
                    npm run lint

    tests:
        name: Test Packages
        needs: [build]
        runs-on: ubuntu-latest
        strategy:
            matrix:
                package: [
                    'server-common',
                    'server-database',
                    'server-http',
                    'common'
                ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 2

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.PRIMARY_NODE_VERSION }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Run tests
                run: |
                    npm run test --workspace=packages/${{matrix.package}} --if-present

    docs:
        name: Build & deploy docs
        needs: [lint, tests]
        runs-on: ubuntu-latest
        if: ${{ github.ref_name == 'master' }}
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Install
              uses: ./.github/actions/install
              with:
                  node-version: ${{ env.PRIMARY_NODE_VERSION }}

            - name: Build
              run: npm run build --workspace=packages/docs

            - name: CNAME
              run: |
                  cd ./packages/docs/src/.vitepress/dist/
                  touch CNAME
                  echo "authup.org" > CNAME

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./packages/docs/src/.vitepress/dist
