name: Release

on:
    push:
        branches:
            - master

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
    NODE_VERSION: 22

permissions:
    packages: write
    contents: write
    pull-requests: write

defaults:
    run:
        shell: bash

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest

        steps:
            -   uses: googleapis/release-please-action@v4
                id: release
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}

            -   name: Checkout
                if: steps.release.outputs.releases_created == 'true'
                uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            -   name: Install
                if: steps.release.outputs.releases_created == 'true'
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}

            -   name: Build
                if: steps.release.outputs.releases_created == 'true'
                uses: ./.github/actions/build

            -   name: Publish
                if: steps.release.outputs.releases_created == 'true'
                run: npx workspaces-publish
                env:
                    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            -   uses: tada5hi/action-docker-image-publish@v3
                if: steps.release.outputs.releases_created == 'true'
                with:
                    cleanup: false
                    registryRepository: authup/authup
                    registryTag: |
                        latest
                        ${{ steps.release.outputs['major'] }}
                        ${{ steps.release.outputs['major'] }}.${{ steps.release.outputs['minor'] }}
                        ${{ steps.release.outputs['major'] }}.${{ steps.release.outputs['minor'] }}.${{ steps.release.outputs['patch'] }}

            -   uses: tada5hi/action-docker-image-publish@v3
                if: steps.release.outputs.releases_created == 'true'
                with:
                    registryHost: docker.io
                    registryRepository: authup/authup
                    registryUser: authup
                    registryTag: |
                        latest
                        ${{ steps.release.outputs['major'] }}
                        ${{ steps.release.outputs['major'] }}.${{ steps.release.outputs['minor'] }}
                        ${{ steps.release.outputs['major'] }}.${{ steps.release.outputs['minor'] }}.${{ steps.release.outputs['patch'] }}
                    registryPassword: ${{ secrets.DOCKER_HUB_TOKEN }}
